@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Quicksand:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  max-height: 100vh;
  max-width: 100vw;
}

body {
  background: #efe7df;
  max-height: 100vh;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
  z-index: 1;
  margin-top: 50px;
}

.container .img-home-nama-kartu-background {
  position: absolute;
  height: 100%;
  top: 0;
}

.container .kartu-nama {
  bottom: 15px;
  right: 10px;
  position: relative;
  width: 250px;
  height: 200px;
  margin-top: 200px;
  -webkit-box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.container .kartu-nama .nama {
  padding: 45px;
  text-align: center;
  transition: 0.5s;
}

.container .kartu-nama .nama h5 {
  color: #bf7864;
  z-index: 1;
}

.bunga-bawah {
  position: absolute;
  bottom: 0;
  left: 16%;
  z-index: -999;
}

/* menu */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  overflow-x: auto;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 70px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #bf7864;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
  text-decoration: none;
}

.nav__link:hover {
  background-color: #bf7864;
  text-decoration: none;
  color: #fff;
}

.nav__link--active {
  color: #bf7864;
  background-color: #fff;
}

.nav__icon {
  font-size: 18px;
}

/* mobile */
@media only screen and (max-width: 600px) {
  .container .img-home-nama-kartu-background {
    position: absolute;
    height: 80%;
    top: 60px;
  }
  .container .kartu-nama {
    top: 25px;
  }
}
